body {
	background-color:#EFE2BA;
    
}
button
{
	background-color:white;
	border:0px;


}
#header
{

    color:purple;
    text-align:center;
}
#hc
{
    display:none;
}
#hmenu
{
    border:0px;
    background-color:white;
    color:Purple;
    text-align:left;
    position:absolute;
    left:10px;
}
#lbut
{
	background-color:yellow;
	color:Green;
	border:0px;
}

